<main>
  <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;" class="text">Carrito</h2>

<div class="bg-white row">
  <div class="row">
    <p class="ms-2 mt-2 col" style="font-weight: bolder;">Producto</p>
    <p class="ms-5 mt-2 col" style="font-weight: bolder;">Cantidad</p>
    <p class="ms-5 mt-2 col" style="font-weight: bolder;">Precio por unidad c/u</p>
    <p class="ms-5 mt-2 col" style="color: red; font-weight: bolder;">Eliminar productos</p>
  </div>
  {{#each productsInCart}}
      <hr>
      <p class="col ms-2" style="font-family: Verdana, sans-serif; font-size: 15px;">{{this.name}}</p>
      <form class="col updateQuantityForm">
          <input class="col" type="number" name="quantity" value="{{this.quantity}}">
          <input type="hidden" id="productId" name="productId" value="{{this.productId}}">
          <input type="hidden" id="cartId" name="cartId" value="{{@root.cartId}}">
          <button class="col btn btn-primary" type="submit">Actualizar Cantidad</button>
      </form>
      <p class="col" style="font-family: Verdana, sans-serif; font-size: 15px;">${{this.price}}</p>
      <form class="col deleteProduct">
          <input type="hidden" id="productId" name="productId" value="{{this.productId}}">
          <input type="hidden" id="cartId" name="cartId" value="{{@root.cartId}}">
          <!--
        <button type="submit" class="col pb-4 pt-2 btn btn-danger" style="height: 25px;"></button>
-->
  <button type="submit" class="btn-close" aria-label="Close"></button>
      </form>
  {{/each}}
  <hr>
  <form class="btnCompra">
  <button type="click" class="botonCompra btn btn-success col-5">Realizar compra</button>
  </form>
  <hr>
</div>
</main>
<footer>
  <div style="color: white;">Contáctanos:</div>
  <div>
    <a href="https://www.instagram.com/martin.iozzi"><img class="logos" src="https://cdn.discordapp.com/attachments/838312221028909059/1167204926921920562/pngegg.png?
    ex=654d474c&is=653ad24c&hm=6bae1e109a91d42213da9d2187ef7b7a378f8b3c6663f9986d5ac2ee932f3d97&" alt="Logo Instagram"></a>
    <a href="https://www.linkedin.com/in/martin-iozzi-a273bb26b"><img class="logos" src="https://cdn.discordapp.com/attachments/838312221028909059/1167207228055486555/icons8-linkedin-50.png?
    ex=654d4970&is=653ad470&hm=e519d20331e6c3ed092e773feb7652ea2def20f4ce19eb36807e5f8b767abba6&" alt="Logo LinkedIn"></a>
  </div>
  <p style="color: white;">Email: martiniozzi120@hotmail.com</p>
  <div>
    <a style="text-decoration: none; color: white; margin-right: 2em;" href="/info">Terminos y Servicios</a>
    <a style="text-decoration: none; color: white;" href="/info">Politica y Privacidad</a>
  </div>
    <div><a class="password" href="/resetpassword">Olvidaste tu contraseña? Haz click aquí</a></div>
</footer>
  

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/carts.js"></script>
