<main>
    <div class="containerProds">
          {{#each products}}
            <div class="col-3 card card-custom pb-2">
              <div class="product-img">
                <img class="custom-img" src={{this.img}} alt={{this.name}}>
              </div>
              <div>
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text" style="color: blue;">${{this.price}}</p>
                <form class="detalles" action="/product/{{this._id}}" method="get"><button class="btn btn-success">Ver detalles</button></form>
              </div>
            </div>
          {{/each}}
    </div>
<div>
    {{#if adminPermission}}
			<a href="/userController">
								<button
									class='btn btn-outline-info'
									type='submit'
									style="margin-left: 15px; margin-bottom: 10px; margin-top: 10px;"
								>Controlador de usuarios</button></a>
      <a href="/mockingproducts">
                <button
									class='btn btn-outline-warning'
									type='submit'
									style="margin-left: 15px; margin-bottom: 10px; margin-top: 10px;"
								>Productos mockeados</button></a>
		{{/if}}
    {{#if userPremium}}
			<a href="/realtimeproducts">
								<button
									class='btn btn-success'
									type='submit'
									style="margin-left: 15px; margin-bottom: 10px; margin-top: 10px;"
								>Agregar productos y modificarlos</button></a>
    {{/if}}
</div>
</main>
<footer>
  <div style="color: white;">Contáctanos:</div>
  <div>
    <a href="https://www.instagram.com" target="_blank"><img class="logos" src="https://cdn.discordapp.com/attachments/838312221028909059/1167204926921920562/pngegg.png?
    ex=654d474c&is=653ad24c&hm=6bae1e109a91d42213da9d2187ef7b7a378f8b3c6663f9986d5ac2ee932f3d97&" alt="Logo Instagram"></a>
    <a href="https://www.linkedin.com/in/martin-iozzi-a273bb26b" target="_blank"><img class="logos" src="https://cdn.discordapp.com/attachments/838312221028909059/1167207228055486555/icons8-linkedin-50.png?
    ex=654d4970&is=653ad470&hm=e519d20331e6c3ed092e773feb7652ea2def20f4ce19eb36807e5f8b767abba6&" alt="Logo LinkedIn"></a>
  </div>
  <p style="color: white;">Email: martiniozzi120@hotmail.com</p>
  <div>
    <a style="text-decoration: none; color: white; margin-right: 2em;" href="/info">Terminos y Servicios</a>
    <a style="text-decoration: none; color: white;" href="/info">Politica y Privacidad</a>
  </div>
    <div><a class="password" href="/resetpassword">Olvidaste tu contraseña? Haz click aquí</a></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>