<body>
    <h2 class="ps-3 pt-2">Productos</h2>
    <div class="row pt-2 ms-2 productos" style="gap: 10px;">
    {{#each products}}
        <div class="col-md-3 card card-custom bg-white border-white" style="width: 22rem;">
          <div class="card-custom-avatar">
            <img class="img-fluid" src={{this.img}} alt={{this.name}} />
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title">{{this.name}}</h4>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">{{this.price}}</p>
          <p class="card-text">{{this.code}}</p>
          <p class="card-text">{{this.stock}}</p>
          <p class="card-text">{{this.type}}</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
          <form action="/api/carts/{{@root.cartId}}/products/{{this._id}}" method="post"><button class="btn btn-warning">Agregar al carrito</button></form>
        </div>
    </div>
  </div>
{{/each}}
</div>
  </body>
  	<footer class="bg-white" style="height: 50px; padding-top: 10px; margin-top: 10px;">
		<a class="password" href="/mail{{token}}">Olvidaste tu contraseña? Haz click aquí</a>
	</footer>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/products.js"></script>
</html>