<h3 class="text">{{title}}</h3>
    <div class="cont-profile bg-light">
        <div class="area1"><hr>
            <p>Nombre del usuario: {{user.first_name}} {{user.last_name}}</p><hr>
            <p>Email: {{user.email}}</p><hr>
            <p>Edad: {{user.age}}</p><hr>
            <p>Nivel de cuenta: {{user.rol}}</p><hr>
        </div>
        <div class="area2">
            <p class="ms-3">Foto de Perfil: <br>
            {{#if user.img}} <img src='{{user.img}}' class='img-fluid' style='border-radius: 10px; max-height: 200px; margin-top: 5px;'/></p> 
            {{else}} <div class="no-photo"><a style="text-decoration: none; color: rgb(12, 12, 12);" href="">No tienes foto? Agrega una!</a></div> 
            {{/if}}
        </div>
    </div>

<footer class="bg-white" style="height: 50px; padding-top: 10px; margin-top: 10px;">
	<a class="password" href="/resetpassword">Olvidaste tu contraseña? Haz click aquí</a>
</footer>