<h3>{{title}}</h3>
<div class="row bg-light">
    <div class="col"><hr>
    <p>Nombre del usuario: {{user.first_name}} {{user.last_name}}</p><hr>
    <p>Email: {{user.email}}</p><hr>
    <p>Edad: {{user.age}}</p><hr>
    <p>Rol actual: {{user.rol}}</p><hr>
    </div>
    <p class="col">Foto de Perfil: <br>
        <img src='{{user.img}}' class='img-fluid' style='border-radius: 10px; max-height: 200px; margin-top: 5px;'/></p>
</div>

<footer class="bg-white" style="height: 50px; padding-top: 10px; margin-top: 10px;">
	<a class="password" href="/resetpassword">Olvidaste tu contraseña? Haz click aquí</a>
</footer>